@model List<Kiralama>

@if(TempData["basarili"] != null)
{
    <h3 class="text-success">@TempData["basarili"]</h3>
}

<div class="container">

    <div class="row pt-3 pb-4"
        <div>
                <h1>Kitap Kiralamaları</h1>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Ogrenci Id
                </th>
                <th>
                    Kitap Id
                </th>
                
                <th>

                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var kiralama in Model)
            {
                <tr>
                    <td>@kiralama.Id</td>
                    <td>@kiralama.OgrenciId</td>
                    <td>@kiralama.Kitap.KitapAdi</td>
                    <td>
                        <a class="btn btn-success btn-sm" asp-controller="Kiralama" asp-action="EkleGuncelle" asp-route-id="@kiralama.Id">Güncelle</a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm btn-danger" asp-controller="Kiralama" asp-action="Sil" asp-route-id="@kiralama.Id">Sil</a>
                    </td>
                </tr>
            }
    
        </tbody>
    </table>

    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="Kiralama" asp-action="EkleGuncelle" class="btn btn-lg btn-primary" type="button">
                Yeni Kiralama Kaydı Oluştur
            </a>
        </div>
    </div>


</div>