@using TestMvc.Utility
@model List<Kitap>

@if(TempData["basarili"] != null)
{
    <h3 class="text-success">@TempData["basarili"]</h3>
}

<div class="container">

    <div class="row pt-3 pb-4"
        <div>
                <h1>Kitaplar</h1>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>

                </th>
                <th>
                    Kitap
                </th>
                <th>
                    Tanım
                </th>
                <th>
                    Yazar
                </th>
                <th>
                    Fiyat
                </th>
                <th>
                    Kitap Türü
                </th>

                @if (User.IsInRole(UserRoles.Role_Admin))
                {
                    <th>

                    </th>
@*                     <th>

                    </th> *@
                }
                
            </tr>
        </thead>
        <tbody>
            @foreach(var kitap in Model)
            {
                <tr>

                    <td align="center" valign="middle">@kitap.Id</td>
                    <td align="center" valign="middle">
                        <img src="@kitap.ResimUrl" style="border-radius: 7px; border: 1px max-width: 60px; max-height: 120px" />
                    </td>
                    <td align="center" valign="middle">@kitap.KitapAdi</td>
                    <td align="center" valign="middle">@kitap.Tanim</td>
                    <td align="center" valign="middle">@kitap.Yazar</td>
                    <td align="center" valign="middle"> @kitap.Fiyat</td>
                    <td align="center" valign="middle">@kitap.KitapTuru.Ad</td>

                    @if (User.IsInRole(UserRoles.Role_Admin))
                    {
                        <td align="center" valign="middle">
                            <a style="width:100px;" class="btn btn-success btn-sm" asp-controller="Kitap" asp-action="EkleGuncelle" asp-route-id="@kitap.Id">Güncelle</a>
                            <br />
                            <br />

                            <a style="width:100px;" class="btn btn-primary btn-sm btn-danger" asp-controller="Kitap" asp-action="Sil" asp-route-id="@kitap.Id">Sil</a>
                        </td>
@*                         <td align="center" valign="middle">
                            <a class="btn btn-primary btn-sm btn-danger" asp-controller="Kitap" asp-action="Sil" asp-route-id="@kitap.Id">Sil</a>
                        </td> *@
                    }

                </tr>
            }
    
        </tbody>
    </table>

    <div class="row pt-3 pb-2">
        @if (User.IsInRole(UserRoles.Role_Admin))
        {
            <div>
                <a asp-controller="Kitap" asp-action="EkleGuncelle" class="btn btn-lg btn-primary" type="button">
                    Yeni Kitap Oluştur
                </a>
            </div>
        }
    </div>


</div>